.custom-button {
    min-width: 65px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    /* display: inline-block; */
}
.custom-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.google-sign-in {
    white-space: normal;
    word-wrap: break-word;
    background-color: #4285f4;
    color: white;
}

.google-sign-in:hover {
    background-color: #357ae8;
    color: white;
    border: none;
}