.custom-button {
    margin-bottom: 3rem;
    min-width: 165px;
    width: 100%;
    line-height: 50px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;   
    display: block;
    text-align: center;
}

.custom-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.google-sign-in {
    white-space: normal;
    word-wrap: break-word;
    background-color: #4285f4;
    color: white;
    opacity: 1;
}

.google-sign-in:hover {
    background-color: #357ae8;
    color: white;
    border: none;
}