.myaccount-spinner{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myaccount-page {
  margin-top: 2%;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: auto;
}

.myaccount-page h2 {
  text-align: center;
}

.user-details {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.information-showcase {
  padding-left: 50px;
}

.user-menus {
    margin-top: 10px;
}

.user-menus ul li {
  width: 250px;
  padding: 16px 16px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 6px;
  margin-top: 12px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #827a7a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.user-menus ul li:first-child {
  margin-top: 0;
}

.user-menus ul li.active {
  background-color: tomato;
  color: white;
  border: none;
}
