.search-title-li{
    background-color: #e2e2e2;
  }
  
  .search-title{
    text-transform: uppercase;
    margin-left: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  
  }
  
 
  
  .search-view-items {
    font-size: 1.1rem;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
  .search-last-li{
    text-align: center;
    border-bottom: 1px solid #ddd;
  
  }
  
  .search-product-group {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }