{
  "settings": {
    "react": "latest"
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "parser": "babel-eslint",
  
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:react/recommended"
  ],
  "rules": {
    "strict": ["error", "never"]
  },
  "env": {
    "jest": true,
    "node": true,
    "browser": true
  }
}
