.forgot-password-page {
  display: flex;
  flex-direction: column;
  margin-top: 25rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.forgot-password-desc {
  color: grey;
  margin-top: 1rem;
  align-self: center;
}

.forgot-password-line {
  color: orange;
  border-top: 1px solid orange;
}

.forgot-email-label {
  align-self: flex-start;
}

.reset-password-header {
  align-self: center;
}

.reset-password-btn {
  width: 100%;
  margin-top: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: 1px solid black;
  font-weight: bold;
}

.reset-submit {
  color: white;
  background: black;
}

.reset-cancel {
  background: white;
}
