.forgot-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
}

.forgot-password-desc {
  color: grey;
  margin-top: 1rem;
}

.forgot-password-line {
  color: orange;
}

.forgot-email-label {
  margin-right: auto;
  align-self: flex-start;
}
