.forgot-password-page {
    display: block;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 7rem;
    width: 40%;
    max-width: 600px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    display:  flex;
}
.forgot-password-page h3 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 56px;
}
.forgot-password-page h3::after{
    margin-top: 1.875rem;
    content:' ';
    display: block;
    border: 2px solid #F3631B;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    min-width: 40vw;
    
}
.forgot-password-desc {
    color: grey;
    margin-top: 1rem;
    align-self: center;
    font-size: 0.8em;
}

.forgot-email-label {
    align-self: flex-start;
    margin-top: 2rem;
}

.reset-password-btn {
    width: 100%;
    margin-top: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 1px solid black;
    font-weight: bold;
}
.reset-submit {
    color: white;
    background: black;
}
.reset-cancel {
    background: white;
}