.search-title-li{
    background-color: #e2e2e2;
  }
  
  .search-title{
    text-transform: uppercase;
    margin-left: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  
  }
  
  .search-product-image{
    width: 70px;
    height: 96px;
    margin-left: 20px;
  
  }
  
  .search-product-a{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .search-product-a:hover{
    text-decoration: none;
    cursor: pointer;
  }
  
  .search-product-title{
    font-weight: bold;
    font-size: 1.1rem;
  }
  .search-product-price{
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  .search-view-items {
    font-size: 1.1rem;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
  .search-last-li{
    text-align: center;
    border-bottom: 1px solid #ddd;
  
  }
  
  .search-product-group {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }