.product-detail {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
}

.second-half {
  width: 50%;
  margin: 0 auto;
  margin-left: 4rem;
}



/* Details section */

.section {
  display: flex;
  justify-content: space-between;
}

/* Reveiws section */

.fa-star {
  color: orange;
}

.review-number {
  margin-left: 0.5rem;
}

/* Add to bag section */

.add-to-bag {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.quantity {
  margin: 0 1rem;
}

.addButton {
  background: black;
  color: white;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.fa-heart {
  color: white;
  background: black;
  padding: 0.5rem;
  margin-left: 2px;
  cursor: pointer;
}

/* menu */

/* menu {
  display: flex;
} */

.line-below-nav {
  margin-top: 0;
}

.navbar {
  width: 100%;
}

.navbar button {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  cursor: pointer;
  outline: none;
}


button.active-menu {
  color: orange;
  font-weight: bold;
}

.active-paragraph {
  display: block;
}

.hidden {
  display: none;
}
.active-menu:hover {
  color: orange;
}

.menu-item {
  color: black;
  cursor: pointer;
  margin-left: 10px;
}

.fa-plus {
  cursor: pointer;
}
.fa-minus {
  cursor: pointer;
}