/* Image section */



  .image {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
  }

  .side-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 2rem;
    object-fit: cover;
    border: 1px solid #dddddd;
    cursor: pointer;
    margin-left:1rem ;

  }

  .image-main{
    width: 60%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
  }


  
  
  
  .side-image:first-child {
    margin-top: 4rem;
  }
  .side-image:last-child {
    margin-bottom: 5rem;
  }
  
  .image-main {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
  }
  
  .fa-arrow-right {
    border-radius: 50%;
  }
  
  
  
  .product-image-main {
    position: relative;
    width: 90%;
  }
  
   .arrows .fa-arrow-left {
    position: absolute;
    bottom: 45%;
    left: 10%;
    padding: 0.4rem;
    border-radius: 50%;
    background: white;
    box-shadow: 6px 4px 20px -8px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }
  .arrows .fa-arrow-right {
    position: absolute;
    bottom: 45%;
    right: 10%;
    padding: 0.4rem;

    border-radius: 50%;
    background: white;
    box-shadow: 6px 4px 20px -8px rgba(0, 0, 0, 0.75);
    cursor: pointer;

  }

  .emphasis {
    color: orange;
    font-weight: bold;
  }

  img.image-active {
    border: 1px solid #ec138d;
  }

  @media  (min-width: 800px) {

    .image {
      width: 70%;
    }

    .image-main {
      width: 450px;
      height: 560px;
      width: 100%;
      object-fit: cover;
      
    }

    .side-image:first-child {
      margin-top: 7rem;
    }
    
  .product-image-name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
    
    .side-images {
      margin-right: 3rem;
    }
    
    .side-image {
      width: 70px;
      height: 70px;
      margin-bottom: 4rem;
    }

    .image{
      margin-right: 4rem;
    }

    .arrows .fa-arrow-left {
      bottom: 45%;
      left: -8%;
      padding: 1rem;
    }
    .arrows .fa-arrow-right {
      bottom: 45%;
      right: -8%;
      padding: 1rem;

    }
  }  