.cart{
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: -100%;
    z-index: 10000;
    opacity: 0;
    width: 450px;
    height: 100%;
    background: #fff;
    color: #000000;
    display: flex;
    flex-direction: column;
    transition: 1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
    -ms-transition: 1s all ease-in-out;
    -o-transition: 1s all ease-in-out;
}

.active{
    right: 0;
    opacity: 1;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}


.cart-items {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.cart-to-checkout{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.cart-to-checkout h1{
    font-size: 22px;
    font-weight: bold;
}

.cart-to-checkout button{
    padding: 10px 50px;
    margin-top: 30px;
    margin-bottom: 100px;
    color: #827A7A;
    font-size: 18px;
    background: transparent;
    border: 2px solid #F3631B;

}