.awssld__bullets {
  z-index: 100;
  top: 30%;
  padding-right: 2%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.awssld__bullets button {
  background: transparent;
  border: 4px solid rgba(130, 122, 122, 0.75);
}

.awssld__bullets .awssld__bullets--active {
  background: rgba(130, 122, 122, 0.75);
}
.awssld__content {
  background: transparent;
  display: inline;
}

.slider-component {
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  padding-top: 4%;
  justify-content: center;
  flex-direction: row;
}

.slider .slider-text {
  display: flex;
  flex-basis: 22%;
  flex-direction: column;
}

.slider .slider-text h1 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5rem;
  position: absolute;
  top: 10%;
  color: #000000;
}

.slider .slider-text h1 span {
  color: #ffffff;
}

.slider .slider-text p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  padding-top: 80%;

  color: #000000;
}

.slider .slider-image {
  flex-basis: 40%;
  height: 90%;
  display: flex;
  overflow: hidden;
}

.slider .slider-button {
  padding: 10px 16px;
  border: none;
  width: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 60px;
  background: #f3631b;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
