.main-text{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.shop-by-category{
    margin-bottom: 100px;
}

.shop-by-category ul{
    margin-top: 100px;
    padding: 0px 100px;
    display: flex;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
    flex-direction: row;
}

.shop-by-category .selected{
    color: #F3631B;
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
}

.banner-promo-section{
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-text-content{
    display: flex;
    flex-basis: 60%;
    z-index: 500;
    flex-direction: column;
    padding-left: 20%;
    justify-content: center;
}

.banner-text-content h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.banner-text-content h1{
    font-size : 56px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner-text-content p{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 50px;
}

.banner-text-content button{
    font-size: 20px;
    color: #827A7A;
    border: none;
    background: transparent;
    text-align: start;
    width: 200px;

    border-bottom: 3px solid #F3631B;
}

.banner-image-content{
    flex-basis: 40%;
    padding-bottom: 10%;
    position: relative;
    left: -200px;
}

.currently-trending{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-bottom: 100px;
}

.newly-added{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    width: 100%;
    margin-bottom: 100px;
}

.newslater-subscription{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

}

.newslater-subscription p{
    font-size: 22px;
    flex-basis: 60%;
    padding-left: 15%;

}

.newslater-subscription input{
    font-size: 20px;
    flex-basis: 40%;
    padding: 10px 20px;
    font-size: 20px;
    margin-right: 10%;

}

