.main-text {
  display: flex;
  width: 100%;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.shop-by-category {
  display: flex;
  justify-content: center;
}

.shop-by-category ul {
  margin-top: 100px;
  display: flex;
  min-width: 850px;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  flex-direction: row;
}

.shop-by-category ul li{
  cursor: pointer;
}

.shop-by-category .selected {
  color: #f3631b;
  padding-bottom: 10px;
  border-bottom: 2px solid #000000;
}

.banner-promo-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.banner-promo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.banner-text-content {
  display: flex;
  z-index: 500;
  max-width: 500px;
  flex-direction: column;
  margin-left: 200px;
  justify-content: center;
}

.banner-text-content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.banner-text-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 30px;
}

.banner-text-content p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 50px;
}

.banner-text-content button {
  font-size: 20px;
  color: #827a7a;
  border: none;
  background: transparent;
  text-align: start;
  width: 200px;

  border-bottom: 3px solid #f3631b;
}

.banner-image-content {
  max-width: 600px;
  position: relative;
  left: -200px;
}

.currently-trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-weight: 500;
  margin-bottom: 100px;
}

.newly-added {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  width: 100%;
  margin-bottom: 100px;
}

.newslater-subscription {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.newslater-subscription-elements{
  width: 950px;
  display: flex;
  justify-content: space-between;
}

.newslater-subscription-elements p {
  font-size: 22px;
}

.newslater-subscription-elements input {
  width: 400px;
  height: 60px;
  font-size: 20px;
  padding: 10px 20px;
  font-size: 20px;
}

.populate-all-products{
  display: flex;
  justify-content: center;

}

.product-item-align .productCardComponent{
  margin-left: 50px;
  margin-bottom: 70px;
}

.product-item-align {
  max-width: 1200px;
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 50px;
}

/* Responsive Part */

@media screen and (max-width: 1196px) {

  .main-text {
    margin-top: 50px;
  }

  .main-text h1{
    font-size: 38px;
  }

  .shop-by-category ul {
    margin-top: 40px;
    display: flex;
    min-width: 650px;
    font-size: 14px;
  }
  
  .banner-text-content {
    max-width: 350px;
    margin-left: 100px;
  }
  
  .banner-text-content h3 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .banner-text-content h1 {
    font-size: 32px;
    margin-bottom: 50px;
  }
  
  .banner-text-content p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  .banner-text-content button {
    font-size: 14px;
    width: 100px;
  
    border-bottom: 2px solid #f3631b;
  }
  
  .banner-image-content {
    max-width: 500px;
    padding-bottom: 100px;
    position: relative;
    left: -100px;
  }

  .newslater-subscription-elements{
    width: 650px;
  }
  .newslater-subscription-elements p{
    font-size: 16px;
    margin-left: 20px;
  }
  .newslater-subscription-elements input{
    font-size: 16px;
    padding: 5px 10px;
    width : 250px;
    height: 50px;
  }

}





/* Mobile Responsie Part */



@media screen and (max-width: 750px) {

  .main-text {
    margin-top: 50px;
  }

  .main-text h1{
    font-size: 26px;
  }

  .main-text p{
    font-size: 13px;
    padding: 5px;
  }

  .shop-by-category ul {
    margin-top: 40px;
    margin-right: 30px;
    display: flex;
    min-width: 480px;
    font-size: 12px;
  }

  .banner-text-content {
    max-width: 350px;
    margin-left: 40px;
  }
  
  .banner-text-content h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .banner-text-content h1 {
    font-size: 26px;
    margin-bottom: 25px;
  }
  
  .banner-text-content p {
    font-size: 14px;
    margin-bottom: 40px;
  }
  
  .banner-text-content button {
    font-size: 14px;
    width: 100px;
  
    border-bottom: 2px solid #f3631b;
  }
  
  .banner-image-content {
    padding-bottom: 100px;
    position: relative;
    left: -45px;
    top: 30px;
  }

  .newslater-subscription-elements{
    flex-direction: column;
  }
  .newslater-subscription-elements p{
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .newslater-subscription-elements input{
    font-size: 16px;
    margin: 0 auto;
    padding: 5px 10px;
    width : 400px;
    height: 50px;
  }

}
