.sign-in {
    width: 50vw;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 250px;
    display: block;
    flex-direction: column;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

h2 {
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 56px;
}

.headline::after {
    margin-top: 30px;
    content:' ';
    display: block;
    border: 2px solid #F3631B;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}