.dropdown-menus {
  background: #303030;
  position: absolute;
  top: 80px;
  right: 60px;
  z-index: 1000;
  display: none;
  flex-direction: column;
  list-style: none;
  text-align: start;
  overflow-x: hidden;
  opacity: 1;
}

.dropdown-active{
  display: flex;
}

.dropdown-menus li {
  background: #101010;
  cursor: pointer;
  width: 200px;
  border-bottom: 1px solid #303030;
}

.dropdown-link:hover {
  color: #F3631B;
  text-decoration: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #F3631B;
  color: #fff;
  padding: 16px;
}