.fa-bars, .fa-times {
  color: #6d6c6c;
  font-size: 22px;
  padding-top: 4px;
}


.nav-links {
  max-width: 740px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-links ul {
  padding-top: 24px;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
}

.nav-links ul li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin-right: 50px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: #000000;
}

.nav-links ul li:last-child {
  margin-right: 0px;
}

.nav-links ul li:hover {
  color: #F3631B;
  text-decoration: none;
  transition: all 0.3s ease-out;
}


.nav-elements {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 24px;
  padding-right: 73px;
}

.nav-elements ul {
  padding-left: 0;
  display: flex;
}

.nav-elements ul li {
  padding-right: 16px;
  cursor: pointer;
}

.nav-elements ul li:nth-child(5){
  display: none;
}

@media screen and (max-width: 1196px) {
  .nav-links ul li {
    margin-right: 16px;
    font-size: 14px;
  }

  .nav-elements {
    padding-right: 26px;
    padding-top: 12px;
  }
}

@media screen and (max-width: 750px) {
  .nav-links {
    display: none;
  }
  .nav-elements ul li:nth-child(5){
    display: inline-block;
  }
  .nav-elements ul li:nth-child(even){
    display: none;
  }
}