.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.fa-bars {
  color: #000000;
}
.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}
.nav-menu {
  overflow: scroll;
  overflow-x: hidden;
  z-index: 10000;
  opacity: 0;
  background-color: black;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  padding-top: 100px;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  -moz-transition: 1s all ease-in-out;
  -ms-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
}
.nav-menu.active {
  left: 0;
  opacity: 1;
  transition: 350ms;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}
.nav-menu-items {
  width: 100%;
}
.nav-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}
.nav-links {
  text-decoration: none;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-links:hover {
  color: #F3631B;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.nav-icons {
  right: 0;
  transform: translate(40%, 5%);
  width: 350px;
  float: right;
  display: flex;
  padding: 2rem;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  align-self: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 960px) {
  .nav-icons {
    transform: translate(0%, 5%);
  }
}