.navbar {
  display: flex;
  flex-basis: 80%;
  justify-content: center;
}

.nav-links {
  flex-basis: 80%;
}

.nav-links ul {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-links ul li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: #000000;
}

.nav-elemnets {
  padding-top: 20px;
  padding-right: 73px;
  display: flex;
  justify-content: flex-end;
}

.nav-elemnets ul {
  display: flex;

  flex-direction: row;
}

.nav-elemnets ul li {
  padding-right: 16px;
  cursor: pointer;
}
