.navbar {
<<<<<<< HEAD
    display: flex;
    flex-basis: 80%;
    justify-content: center;
  }
  
  .nav-links {
    flex-basis: 70%;
  }
  
  .nav-links ul {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav-links ul li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;
  }
  
  .nav-elemnets {
    padding-top: 20px;
    padding-right: 73px;
    flex-basis: 30%;
  }
  
  .nav-elemnets ul {
    display: flex;
  
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .nav-elemnets ul li {
    padding-right: 16px;
  }
=======
  display: flex;
  flex-basis: 80%;
  justify-content: center;
}

.nav-links {
  flex-basis: 70%;
}

.nav-links ul {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-links ul li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.nav-elemnets {
  padding-top: 20px;
  padding-right: 73px;
  flex-basis: 30%;
}

.nav-elemnets ul {
  display: flex;

  flex-direction: row;
  justify-content: flex-end;
}

.nav-elemnets ul li {
  padding-right: 16px;
}
>>>>>>> b132d692284fbd68715369876ba19dac3b0b72fc
