.footer{
  margin-top: auto;
  
}

.navbar-text {
  font-size: 1.6rem;
}

#navbar {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

#nav-links {
  padding-left: 0;
}

#nav-links a {
  color: #343a40;
  font-size: 1.2rem;
}

.fab {
  margin-right: 15px;
  color: black;
}

ul {
  list-style-type: none;
}
