.group {
    position: relative;
    margin: 1em 0;
}
.group .form-input {
    background: none;
    background-color: white;
    color: gray;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 97%;



    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;
}

.group .form-input:focus {
    outline: none;
}

.group .form-input::placeholder {
    color: transparent;
}

.group input[type='password'] {
    letter-spacing: 0.3em;
    margin-top: 45px;
}
.group .form-input-label {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
}
.group .form-input-label .shrink {
    top: -14px;
    font-size: 12px;
    color: black;
}

 .form-input:focus + .form-input-label, .form-input:not(:placeholder-shown) + .form-input-label{
    transform: translateY(-2.5em) scale(.8);
    color: black;
}
