.app-site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.cartOpen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #000000;
  opacity: 0.8;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  transition: 1s opacity ease-out;
  -webkit-transition: 1s opacity ease-out;
  -moz-transition: 1s opacity ease-out;
  -ms-transition: 1s opacity ease-out;
  -o-transition: 1s opacity ease-out;
}
